@font-face { font-family: Lato; font-weight: 400; src: url(../fonts/lato.woff); }
@font-face { font-family: Lato; font-weight: 700; src: url(../fonts/lato-bold.woff); }

@-webkit-keyframes slide {
	0% { opacity: 0; -webkit-transform: translateY(-10px); }
}

ul, h1, p { margin: 0; }
header, header ul { display: flex; }
body, body > header h1 { margin: auto; }
body > header, article { -webkit-animation: slide 0.5s ease-in-out; }

a { color: inherit; text-decoration: none; transition: 0.2s; }
a:hover { color: #fff; }

html {
	cursor: default;
	font: 16px/22px Lato, sans-serif;
	color: #8e8e93;
	background: #1f1f21;
	-webkit-font-smoothing: antialiased;
}

body {
	padding: 0 20px;
	max-width: 480px;
}

body > header { margin: 40px 0; }
body > header h1 {
	position: relative;
	text-align: center;
	font-size: 60px;
	line-height: 1;
	background: linear-gradient(90deg, #ff5e3a, #ff2a68);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body > header h1::before,
body > header h1::after {
	position: absolute;
	z-index: -1;
}

body > header h1::after {
	content: attr(data-text);
	left: 0; top: 0;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

body > header h1::before {
	content: "";
	opacity: 0.5;
	width: 80px; height: 80px;
	background: url(../img/cog.svg) no-repeat 50%;
	background-size: 80px;
	left: 50%; top: 50%;
	margin: -40px 0 0 -40px;
}

article {
	margin: 20px 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

article header {
	align-items: center;
	justify-content: space-between;
}

article h1 {
	font-size: 22px;
	line-height: 28px;
	color: #fff;
	flex: 1;
	word-wrap: break-word;
}

ul { padding: 0; }

li {
	font-weight: 700;
	list-style: none;
	margin-left: 10px;
	white-space: nowrap;
}

*[data-icon]::before {
	content: "";
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: top;
	background: no-repeat 50%;
	background-size: 16px;
}

*[data-icon=star]::before { background-image: url(../img/star.svg); }
*[data-icon=fork]::before { background-image: url(../img/up.svg); }